WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_DB_ROOT_PASSWORD=change_me

PRESTASHOP_DB_NAME=prestashop
PRESTASHOP_DB_USER=prestashop
PRESTASHOP_DB_PASSWORD=change_me
PRESTASHOP_DB_ROOT_PASSWORD=change_me

SERVER_HOST=localhost:8080