WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_DB_ROOT_PASSWORD=change_me

PRESTASHOP_DB_NAME=prestashop
PRESTASHOP_DB_USER=prestashop
PRESTASHOP_DB_PASSWORD=change_me
PRESTASHOP_DB_ROOT_PASSWORD=change_me

WP_HOME=http://localhost:8080/wordpress
WP_SITEURL=http://localhost:8080/wordpress
PS_DOMAIN=localhost:8080