.env
.env.dev
.env.prod
.env.ci
.env.staging
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
.venv/
__pycache__/
*.py[cod]

# Test artifacts
.pytest_cache/
reports/
tfplan
