# Environment files
.env
.env.dev
.env.prod
.DS_Store

secret.yaml
secrets.yaml
passwords.txt
.env.ci
.env.staging

# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.py[cod]

# Test artifacts
.pytest_cache/
reports/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

tls/*
